.lista{
    list-style-type: none;
    background-color: black;
    display: flex;

}

.lista-cat{
    padding: 5px 10px;
    margin: 0, 5px;

}

.imagen{
    display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}